{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>Tweezer</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static "core/tweezer/styles.css" %}">
  </head>
  <body>
    <div class="container">
    <img src="/static/core/tweezer/images/backgroundImage.png">
      <div>
        <div>
          {% if messages %}
            {% for message in messages %} 
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endif %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endif %} 
            {% endfor %} 
        {% endif %}
          <form action="{% url 'tweezer' %}" method="post" class="p-2 mb-4">
            {% csrf_token %}
            <p class="message1">저희 서비스를 받아보시려면 이메일을 입력해주세요.</p>
            <p class="message2">Please send your email down below to subscribe              </p>
            <input
              type="email"
              name="email"
              class="email"
            />
            <button type="submit">
              출시알림 받기
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
