.container {
  max-width: 960px;
}
.container {
    width: 1920px;
    height: 5295px;
    background-image: linear-gradient(to top, #a696ea, rgba(92, 61, 217, 0.56) 16%, rgba(108, 80, 221, 0.65) 25%, rgba(135, 112, 227, 0.47) 43%, rgba(172, 156, 236, 0.37) 63%, rgba(218, 211, 247, 0.15) 85%, rgba(86, 54, 216, 0), rgba(255, 255, 255, 0));
  }

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}
